.table__checkboxes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px 0px;

}
.table__checkbox{
    display: flex;
    align-items: center;
    font-size: 12px;
}




// MEDIA QUERIES

@media(min-width:720px){
    .table__checkbox{
        font-size: 20px;
    }
}
