.navbar {
  background-color: #ffa500;

  &__content {
    max-width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__links {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    column-gap: 20px;
    & li {
      padding: 10px;
      font-weight: 600;
      cursor: pointer;
      color: white;
      transition: 200ms ease-in-out all;
      &:not(:last-child):hover {
        background-color: rgba($color: #fff, $alpha: 0.4);
        border-radius: 5px;
      }
    }
    &__cart-icon {
      transition: 300ms all ease-in-out;
      &:hover {
        color: red;
      }
    }
  }

  &__brand-name {
    font-size: 20px;
    margin: 0px;
    letter-spacing: 2.5px;
    color: white;
    transition: 300ms all ease-in-out;
    cursor: pointer;
    & span {
      color: blue;
    }
    &:hover {
      color: blue;
    }
    &:hover span {
      color: white;
    }
  }
  &__cart {
    position: relative;
    &:hover {
      animation: rotate 1s linear infinite;
    }
  }
  &__cart-icon {
    color: blue;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }
  &__badge {
    position: absolute;
    background-color: red;
    color: white;
    padding: 3px 5px;
    text-align: center;
    border-radius: 5px;
    font-size: 11px;
  }
  &__hamburger-container{
    display: none;
  }
  &__hamburger {
    display: none;
  }
}
// CREATE CLASSES
.acitve {
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(90deg);
  }
  60% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// MEDIA QUERIES

@media (max-width: 768px) {
  .navbar {
    
    &__content {
      min-height: 55px;
    }
   
    &__hamburger-container{
      display: block;
    }
    &__hamburger{
      display: flex;
      column-gap:25px ;
      cursor: pointer;
      -webkit-transition: 1s ease-in-out;
      -moz-transition: 1s ease-in-out;
      -o-transition: 1s ease-in-out;
      transition: transform 500ms ease-in-out 25ms;
      :hover {
        transform: translateX(0px) translateY(75px);
      }
    }
    &__links {
      position: fixed;
      z-index: 10;
      opacity: 0.7;
      width: 100%;
      left: -120%;
      top: 35px;
      flex-direction: column;
      background-color: orange;
      text-align: center;
      transition: 300ms all ease-in-out;
      align-items: center;
      &.active {
        left: 0;
      }
    }
  }
}
