.navbar {
    background-color: antiquewhite;
    padding: 15px 0px;
  &__content {
    max-width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__brand-name {
    font-size: 40px;
    margin:0px ;
    letter-spacing: 2.5px;
    cursor: default;
    & span {
      color: blue;
    }
  }
  &__cart{
    position: relative;
  }
  &__cart-icon {
    color: blue;
    cursor: pointer;
  }
  &__badge{
    position: absolute;
    background-color: red;
    color: white;
    padding: 3px 5px;
    text-align: center;
    border-radius: 5px;
  }
}
