<app-navbar></app-navbar>
<div class="product-details">

    <div class="product-details__content">
        <div class="product-details__image-container">
            <img src={{product?.image}} class="product-details__image" />
        </div>
        <div class="product-details__info">
            <div class="product-details__title">{{product?.title}}</div>
            <div class="product-details__price">${{product?.price}}</div>
            <div class="product-details__button-container">
                <button class="product-details__button" type="button">Add to Cart</button>
            </div>
        </div>
    </div>
</div>