.product-details {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e6eb29;
  &__content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    min-width: 800px;
    min-height: 50vh;
    padding: 50px;
    background-color: #ffffff;
    border: 1px solid #e7e6eb;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
  }
  &__info {
    min-width: 50%;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 35px;
  }

  &__title {
    font-family: "Rambla";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #d55;
    margin-bottom: 20px;
  }
  &__price {
    font-family: "Rockwell Condensed";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;
    color: #595959; // #e7e390
    margin-bottom: 20px;
    font-weight: bold;

  }
  &__image {
    width: 300px;
    max-height: 300px;
    object-fit: contain;
  }
  &__image-container {
    display: flex;
    align-items: center;
  }
  &__button-container {
    text-align: ce;
  }
  &__button {
    background: #fbbf23;
    border-radius: 8px;
    border: 1px solid;
    width: 200px;
    height: 35px;
    cursor: pointer;
    &:hover {
      background-color: blue;
    }
  }
}

// MEDIA QUERIES

@media (min-width: 1100.2px) {
  .product-details {
    &__info {
      min-width: 50%;
      display: flex;
      min-height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 35px;
      &__title {
        font-size: 55px;
        // line-height: 37px;
        color: #d55;
        margin-bottom: 20px;
      }
      &__price {
        font-weight: bold;
      }
      &__image {
        width: 300px;
        height: 300px;
        object-fit: contain;
      }
      &__image-container {
        display: flex;
        align-items: center;
      }
    }
  }
}
@media (min-width: 768.2px) and (max-width: 1100px) {
  .product-details {
    &__content {
      min-width: 80%;
      padding: 0;
    }
    &__title {
      font-size: 35px;
      // line-height: 37px;
      color: #d55;
      margin-bottom: 20px;
    }
    &__info {
      width: 50%;
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      row-gap: 10px;
    }
    &__price {
      font-size: 25px;
      font-weight: bold;
      // line-height: 42px;
      color: #595959; // #e7e390
    }
    &__image {
      width: 60%;
      object-fit: contain;
    }
    &__image-container {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__button {
      background: #fbbf23;
      border-radius: 8px;
      border: 1px solid;
      width: 50%;
      height: 35px;
      cursor: pointer;
      &:hover {
        background-color: blue;
      }
    }
  }
}

@media (min-width: 560.2px) and (max-width: 768px) {
  .product-details {
    &__content {
      min-width: 260px;
      padding: 0;
    }
    &__title {
      font-size: 28px;
      // line-height: 37px;
      color: #d55;
      margin-bottom: 20px;
    }
    &__info {
      width: 50%;
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      row-gap: 10px;
    }
    &__price {
      font-size: 18px;
      font-size: 25px;
      font-weight: bold;
      color: #595959; // #e7e390
    }
    &__image {
      width: 70%;
      object-fit: contain;
    }
    &__image-container {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__button {
      background: #fbbf23;
      border-radius: 8px;
      border: 1px solid;
      width: 50%;
      height: 35px;
      cursor: pointer;
      &:hover {
        background-color: blue;
      }
    }
  }
}

@media (max-width: 560px) {
  .product-details {
    &__content {
      min-width: 260px;
      max-width: 90%;
      padding: 0 12px;
    }
    &__title {
      font-size: 20px;
      // line-height: 37px;
      color: #d55;
      margin-bottom: 0
    }
    &__info {
      width: 50%;
      display: flex;
      align-items: stretch;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    &__price {
      font-size: 18px;
      margin-bottom: 0;
      
      margin: 0;
      color: #595959; // #e7e390
    }
    &__image {
      width: 80%;
      object-fit: contain;
    }
    &__image-container {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__button {
      background: #fbbf23;
      border-radius: 8px;
      border: 1px solid;
      width: 50%;
      height: 35px;
      margin-bottom: 0;
      cursor: pointer;
      &:hover {
        background-color: blue;
      }
    }
  }
}
