<app-navbar></app-navbar>
<div class="table">
    <div class="table__header">
        PRODUCTS
    </div>

    <div class="modal" [ngClass]="isModalActive ? 'setFlex' : '' ">
        <div class="modal__content">
            <div class="modal__top">
                <div class="modal__header">
                    Warning!
                </div>
                <div class="modal__theme">
                    Are you sure you want to delete ?
                </div>
            </div>
            <div class="modal__bottom">
                <button (click)="removeProduct()" type="button" class="modal__confirm">
                    <fa-icon class="confirm__icon" [icon]="faCheck"></fa-icon>
                </button>
                <button (click)="setModalStatus()" type="button" class="modal__reject">
                    <fa-icon class="refuse__icon" [icon]="faTimes"></fa-icon>
                </button>
            </div>
        </div>


    </div>
    <div class="product-form">
        <form class="product-form__content">
            <div class="product-form__header">
                Product Details
            </div>
            <div>
                <label for="name">Name</label>
                <input type="text" id="name">
            </div>
            <div>
                <label for="category">Category</label>
                <select name="category" id="category">
                    <option value="men">men's clothing</option>
                    <option value="jewelery">jewelery</option>
                    <option value="electronic">electronics</option>
                    <option value="women">women's clothing</option>
                </select>
            </div>
            <div>
                <label for="price">Price</label>
                <input type="number" id="price"/>
            </div>
            <div>
                <label for="description">Description</label>
                <input type="text" name="description" id="description">
            </div>
            <div>
                <label for="stock">Stock</label>
                <input type="number" name="stock" id="stock">
            </div>
            <div>
                <button class="product-form__button" type="button">Create</button>
            </div>
           


        </form>

    </div>

    <div>
        <table class="table__content">
            <tr class="product__row">
                <td class="add__product">
                    Add Product
                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            <tr class="table__row">
                <th>
                    id
                </th>
                <th>
                    Name
                </th>
                <th>Category</th>
                <th>Price</th>
                <th>Stock</th>
                <th>
                </th>
            </tr>
            <tr *ngFor="let product of products" class="table__row">
                <td>

                    {{product.id}}

                </td>
                <td>
                    <div class="table__row-name">
                        {{product.title}}
                    </div>


                </td>
                <td>

                    {{product.category}}

                </td>
                <td>

                    ${{product.price}}


                </td>
                <td>

                    {{product.rating.count}}

                </td>

                <td class="table__button">
                    <fa-icon (click)="setModalStatus(product.id)" class="red" [icon]="faTrash"></fa-icon>
                </td>
            </tr>






        </table>
    </div>



</div>