.table {
  &__header {
    color: blue;
    padding: 20px;
    font-size: 20px;
    font-weight: 800;
    font-style: normal;
    font-family: "Roboto";
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    padding: 20px 15px 5px;
  }
  &__content {
    table-layout: fixed;
    width: 250px;
    max-width: 90%;
    margin: auto;
  }
  &__row-name {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  &__add-button {
    // width: 80px;
    // height: 20px;
    // font-size: 10px;
    // padding: 0;
    -ms-transform: skewX(20deg);
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    // display: inline-block;
    cursor: pointer;
    &:active {
      transform: scale(0.98);
      box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    }
  }
}

th {
  color: #ffffff;
  background: rgb(234, 154, 7);
  border-right: 1px solid #343a45;
  font-size: 12px;
  font-weight: 100;
  width: 100px;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
  table-layout: fixed;
  overflow: hidden;
  &:first-child {
    border-top-left-radius: 3px;
  }

  &:last-child {
    opacity: 0;
  }
}
tr {
  border-top: 1px solid #c1c3d1;
  border-bottom: 1px solid #c1c3d1;
  color: #666b85;
  font-size: 8px;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  &:hover td {
    background: #4e5066;
    color: #ffffff;
    border-top: 1px solid #22262e;
  }
  &:nth-child(odd) td {
    background: #ebebeb;
  }
  &:not(:first-of-type):nth-child(odd):hover td {
    background: #4e5066;
  }
}
td {
  width: 100px;
  table-layout: fixed;
  background: #ffffff;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
  font-weight: 300;
  font-size: 8px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #c1c3d1;
  overflow: hidden;
  &:last-child {
    border-right: 0px;
  }
}
.red {
  color: red;
  cursor: pointer;
}
.modal {
  background-color: rgba(0, 0, 0, 0.35);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0;
  pointer-events: none;

  &__content {
    background-color: white;
    width: 500px;
    max-width: 90%;
    height: 120px;
  }
  &__header {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 17.885px;
    line-height: 120%;
    color: white;
    background-color: orange;
    padding: 5px 5px;
  }
  &__theme {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 10px;
  }
  &__bottom {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    column-gap: 5px;
  }
  &__confirm {
    width: 50px;
    height: 25px;
    background-color: green;
    border-radius: 2px;
    cursor: pointer;
  }
  &__reject {
    width: 50px;
    height: 25px;
    background-color: red;
    border-radius: 2px;
    cursor: pointer;
  }
}
.product-form {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  &__header {
    font-weight: 700;
    display: block !important;
    color: orange;

    text-align: center;
  }
  &__content {
    background-color: white;
    width: 500px;
    max-width: 80%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    padding: 0px 8px;
    -webkit-box-shadow: 11px 17px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 11px 17px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 11px 17px 12px 0px rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    & label {
    }
    & input {
      width: 120px;
    }
    & div {
      display: flex;
      width: 100%;
      justify-content: space-between;
      &:last-child {
        justify-content: end;
      }
    }
  }
  &__button {
    background-color: greenyellow;
    color: white;
    padding: 7px;
    border: none;
    cursor: pointer;
  }
}

tr:first-child td {
  background-color: white;
  border: none;
}
tr:first-child td:first-child {
  cursor: pointer;
  background-color: green !important;
  color: white;
  border: 2px solid black;
}

.confirm__icon {
  color: white;
}
.refuse__icon {
  color: white;
}
body {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.setElementVisible {
  opacity: 1;
  pointer-events: all;
}
// GLOBAL ELEMENTS

input{
  text-align: center;
  width: 80%;
  height: 70%;
  border: 2px solid orange;
  outline: none;
}


// CREATED CLASSES
.c-pointer{
cursor: pointer;
}
.justify-end{
justify-content: flex-end !important;
}
.invalid{
background-color: lightgreen;
cursor: default;
}


// MEDIQ QUERIES
@media (min-width: 1200.2px) {
  .table__content {
    width: 1100px;
  }
  .table__header {
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
  }
  th {
    max-width: 80px;
    font-size: 22px;
    max-height: 30px;
    min-height: 30px;
  }
  td {
    max-width: 80px;
    font-size: 20px;
    max-height: 30px;
    min-height: 30px;
  }
  .table__row-name {
    height: 50px;
    overflow: hidden;
  }
  .product-form__content div{
    width: 50%;
    &:nth-child(1){
      width: 100%;
      padding: 0px 20px;
      box-sizing: border-box;
    }
  }
  input{
    text-align: center;
    width: 80%;
    height: 70%;
    min-height: 30px;
    border: 2px solid orange;
    outline: none;
  }
 
}
@media (max-width: 1200px) {
  .table__content {
    width: 1100px;
  }
  .table__header {
    font-size: 28px;
    text-align: center;
  }
  th {
    max-width: 80px;

    font-size: 22px;
    max-height: 30px;
    min-height: 30px;
  }
  td {
    max-width: 80px;
    font-size: 20px;
    max-height: 30px;
    min-height: 30px;
  }
  .table__row-name{
    height: 50px;
    // width: 50px;
    // margin: auto;
    overflow: hidden;
  }
  .product-form__content div{
    width: 50%;
    &:nth-child(2){
      width: 100%;
      padding: 0px 20px;
      box-sizing: border-box;
    }
  }

}
@media (max-width: 1024px) {
  .table__content {
    width: 950px;
  }
  .table__header {
    font-size: 28px;
    padding-left: 20px;
  }
  th {
    max-width: 80px;

    font-size: 18px;
    max-height: 30px;
    min-height: 30px;
  }
  td {
    max-width: 80px;
    font-size: 13px;
    max-height: 30px;
    min-height: 30px;
  }
  .table__row-name {
    height: 50px;
    // width: 50px;
    // margin: auto;
    overflow: hidden;
  }
}
@media (max-width: 720px) {
  .table__content {
    width: 600px;
  }
  .table__header {
    font-size: 25px;
    padding-left: 15px;
  }
  th {
    max-width: 30px;
    font-size: 12px;
  }
  td {
    max-width: 30px;
    font-size: 9px;
  }
  .table__row-name {
    height: 20px;
    width: 50px;
    // margin: auto;
    overflow: hidden;
  }
}
@media (max-width: 560px) {
  .table__header {
    font-size: 20px;
  }
  .table__content {
    width: 600px;
  }
  th {
    max-width: 30px;
    font-size: 12px;
  }
  td {
    max-width: 30px;
    font-size: 9px;
  }

  .table__row-name {
    height: 20px;
    width: 100%;
    // margin: auto;
    overflow: hidden;
  }
  input{
    text-align: center;
    width: 80%;
    height: 70%;
    border: 2px solid orange;
    outline: none;
  }
}

@media (max-width: 360px) {
  .table__content {
    width: 260px;
  }
  th {
    max-width: 30px;
    height: 20px;
    font-size: 12px;
  }
  td {
    max-width: 30px;
    height: 20px;
    font-size: 9px;
  }
  .table__header {
    max-width: 90%;
    margin: 0 auto;
  }
  .button_slanted-container {
    width: 75%;
    margin: auto;
    padding: 5px;
  }
  .product-form__content div{
    width: 100%;
    justify-content: space-between;
    &:nth-child(2){
      width: 100%;
      padding: 0px 20px;
      box-sizing: border-box;
    }
  }
}



