<div class="products">
    <div class="product-card" *ngFor="let product of products">
        <img class="product-card__img" src="https://picsum.photos/200/200" />
        <div class="product-card__price">$ {{product.price}}</div>
        <div class="product-card__name">{{product.name}}</div>
        <div class="product-card__desc">{{product.description}}</div>
    </div>
</div>

 <!-- <h3>
            <a [title]="product.name + ' details'">
                {{product.name}}
            </a>
        </h3>
        <p>{{product.price}}$</p>
        <p *ngIf="product.description">
            {{product.description}}
        </p>
        <button type="button" (click)="share()">Share Product</button> -->