.products-list {
  padding: 40px 0px;
  &__header {
    width: 90%;
    font-size: 30px;
    letter-spacing: 1px;
    max-width: 1600px;
    margin: auto;
    margin-bottom: 30px;
  }
  &__products {
    max-width: 1600px;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
.product-card {
  position: relative;
  width: 200px;
  height: 400px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #e7e6eb;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  cursor: pointer;
  transform: scale(0.99);

  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transition-property: all;
  & > a {
    // pointer-events: none;
    // cursor: default;
    text-decoration: none;
  }
  &:hover {
    transform: scale(1.0);
  }
  &__price {
    font-family: "Roboto";
    margin-bottom: 8px;
    color: #333333;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 38px;
    
  }
  &__img {
    margin-bottom: 8px;
    width: 200px;
    height: 200px;
  }
  &__name {
    font-family: "Roboto";
    font-style: normal;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
  }
  &__description {
    font-family: "Roboto";
    font-style: normal;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    white-space: nowrap;
    overflow-y: hidden;
    text-overflow: ellipsis;
  }
  &__button {
    position: absolute;
    cursor: pointer;
    bottom: 3%;
    z-index: 10;
    background: #fbbf23;
    border-radius: 8px;
    border: 1px solid;
    width: 200px;
    height: 35px;
    &:hover{
      background-color: blue;
    }
  }
}


// MEDIA QUERIES 
@media(min-width:720.2px) and (max-width:820px){
  .products-list{
    &__products{
      justify-content: space-evenly;
    }
}
.product-card__img {
  width: 170px;
  height: 170px;
}
.product-card__button{
 
    bottom: 10%;
    z-index: 10;
    
}
}
@media(max-width:720px){
  .products-list{
    padding: 20px 0px;
    &__header {
      width: 90%;
      font-size: 20px;
      letter-spacing: 1px;
      max-width: 1600px;
      margin: auto;
      margin-bottom: 30px;
    }
    &__products {
      max-width: 1600px;
      width: 90%;
      
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      
    }
  }
  .product-card {
    position: relative;
    width: 80px;
    height: 80px;

    background-color: #ffffff;
    border: 1px solid #e7e6eb;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    cursor: pointer;
    transform: scale(0.99);
  
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-property: all;
    & > a {
      // pointer-events: none;
      // cursor: default;
      text-decoration: none;
    }
    &:hover {
      transform: scale(1.0);
    }
    &__price {
      position: absolute;
      top: 0;
      right: 5%;
      font-family: "Roboto";
      margin-bottom: 8px;
      color: #333333;
      font-style: normal;
      font-weight: 800;
      font-size: 10px;
      line-height: 38px;
      
    }
    &__img {
      margin-bottom: 8px;
      width: 80%;
      height: 80%;
    }
    &__name {
      font-family: "Roboto";
      font-style: normal;
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 12px;
      // line-height: 28px;
      color: #333333;
      display: none;
    }
    &__description {
      font-family: "Roboto";
      font-style: normal;
      margin-bottom: 8px;
      font-weight: 400;
      font-size: 10px;
      color: #333333;
      white-space: nowrap;
      overflow-y: hidden;
      text-overflow: ellipsis;
      display: none;
    }
    &__button {
      position: absolute;
      cursor: pointer;
      bottom: 6%;
      left: 9%;
      z-index: 10;
      background: #fbbf23;
      border-radius: 8px;
      border: 1px solid;
      width: 80%;
      height: 20px;
      &:hover{
        background-color: blue;
      }
    }
  }
}
@media(max-width:560px){
  .products-list{
    padding: 20px 0px;
    &__header {
      width: 90%;
      font-size: 20px;
      letter-spacing: 1px;
      max-width: 1600px;
      margin: auto;
      margin-bottom: 30px;
    }
    &__products {
      max-width: 1600px;
      width: 90%;
      
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      
    }
  }
  .product-card {
    position: relative;
    width: 80px;
    height: 80px;

    background-color: #ffffff;
    border: 1px solid #e7e6eb;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    cursor: pointer;
    transform: scale(0.99);
  
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-property: all;
    & > a {
      // pointer-events: none;
      // cursor: default;
      text-decoration: none;
    }
    &:hover {
      transform: scale(1.0);
    }
    &__price {
      position: absolute;
      top: 0;
      right: 5%;
      font-family: "Roboto";
      margin-bottom: 8px;
      color: #333333;
      font-style: normal;
      font-weight: 800;
      font-size: 10px;
      line-height: 38px;
      
    }
    &__img {
      margin-bottom: 8px;
      width: 80%;
      height: 80%;
    }
    &__name {
      font-family: "Roboto";
      font-style: normal;
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 12px;
      // line-height: 28px;
      color: #333333;
      display: none;
    }
    &__description {
      font-family: "Roboto";
      font-style: normal;
      margin-bottom: 8px;
      font-weight: 400;
      font-size: 10px;
      color: #333333;
      white-space: nowrap;
      overflow-y: hidden;
      text-overflow: ellipsis;
      display: none;
    }
    &__button {
      position: absolute;
      cursor: pointer;
      bottom: 6%;
      left: 9%;
      z-index: 10;
      background: #fbbf23;
      border-radius: 8px;
      border: 1px solid;
      width: 80%;
      height: 20px;
      &:hover{
        background-color: blue;
      }
    }
  }
}
@media(min-width:320.2px) and (max-width:407.98px){
  .products-list__products{
    justify-content: space-evenly;

  }
}


@media(max-width:280px){
  .products-list{
    padding: 20px 0px;
    &__header {
      width: 90%;
      font-size: 20px;
      letter-spacing: 1px;
      max-width: 1600px;
      margin: auto;
      margin-bottom: 30px;
    }
    &__products {
      max-width: 1600px;
      width: 90%;
      
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      
    }
  }
  .product-card {
    position: relative;
    width: 80px;
    height: 80px;

    background-color: #ffffff;
    border: 1px solid #e7e6eb;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    cursor: pointer;
    transform: scale(0.99);
  
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-property: all;
    & > a {
      // pointer-events: none;
      // cursor: default;
      text-decoration: none;
    }
    &:hover {
      transform: scale(1.0);
    }
    &__price {
      position: absolute;
      top: 0;
      right: 5%;
      font-family: "Roboto";
      margin-bottom: 8px;
      color: #333333;
      font-style: normal;
      font-weight: 800;
      font-size: 10px;
      line-height: 38px;
      
    }
    &__img {
      margin-bottom: 8px;
      width: 80%;
      height: 80%;
    }
    &__name {
      font-family: "Roboto";
      font-style: normal;
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 12px;
      // line-height: 28px;
      color: #333333;
      display: none;
    }
    &__description {
      font-family: "Roboto";
      font-style: normal;
      margin-bottom: 8px;
      font-weight: 400;
      font-size: 10px;
      color: #333333;
      white-space: nowrap;
      overflow-y: hidden;
      text-overflow: ellipsis;
      display: none;
    }
    &__button {
      position: absolute;
      cursor: pointer;
      bottom: 6%;
      left: 9%;
      z-index: 10;
      background: #fbbf23;
      border-radius: 8px;
      border: 1px solid;
      width: 80%;
      height: 20px;
      &:hover{
        background-color: blue;
      }
    }
  }
}