<app-navbar></app-navbar>
<div class="dashboard">
    <div class="dashboard__content">
        <h3 class="dashboard__header">Dashboard</h3>
        <div class="dashboard__charts">
            <app-info-card *ngFor="let cardInfo of cardInfos" [value]="cardInfo.value" [title]="cardInfo.title"
                [isPrice]="cardInfo.isPrice">
            </app-info-card>
        </div>
        <div class="dashboard__bestseller">
            <p class="dashboard__bestseller-header">Today's Bestseller!</p>
            <p class="dashboard__product-name">
                {{todayBestSeller.name}}
            </p>
            <div class="dashboard__bottom">
                <img class="dashboard__image" [src]="todayBestSeller.image" alt="">
                <button class="dashboard__buy-btn">BUY NOW!</button>
            </div>


        </div>

    </div>
</div>